$navbar-color: transparent;
$menu-background: #272727;
$background-color: #ffffff;
$background-color-alt: #f5f6f7;

$button-color-text: #000000;
$primary-color-text: #576671;
$secondary-color-text: #000000;
$primary-alt-color-text: #576671;
$accent-color-text: #e6e6e6;
